
.container,
[class*="col-"]{
  background-color: #FFC0CB;
  text-align: center;
}

.container{
  height: 200px;
}

[class*="col-"]{
  border: 1px solid black;
  height: 100%;
  position: relative;
}

h3{
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nested-col{
  border: 2px solid white;
  background-color: #F07F80;
}

.nested-row{
  padding: 5px;
}

.clearfix::after{
  content: "";
  display:block;
  clear: both;
}
